<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .but{
            left: 650px;
            top: 260px;
        }
    </style>

</head>
<body>
<form action="/new" method="POST">
<table style="margin: auto">
    <tr>
        <td>Blend Name:</td>
        <td>
            <input type="text" name="Blend_Name">
        </td>
    </tr>
    <tr>
        <td>Volume:</td>
        <td>
            <input type="text" name="Volume">
        </td>
    </tr>
    <tr>
        <td>Starting sg:</td>
        <td>
            <input type="text" name="Starting_sg">
        </td>
    </tr>
    <tr>
        <td>
            <input class=button type="submit" value="Submit" name="button">
        </td>
    </tr>
</table>
</form>
</body>
</html>